* {
    box-sizing: border-box;
  }
  
body {
    font-family: Arial, sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    text-align: center;
    width: 300px;
}

h1 {
    color: #1f2937;
    text-align: left;
    margin-bottom: 2rem;
}

input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    margin-bottom: 1rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    display: none;
    width: 100%;
    background-color: #2563eb;
    color: white;
    border: none;
    padding: 0.6rem;
    font-size: 1rem;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1d4ed8;
}

#result {
    margin-top: 1rem;
    font-weight: bold;
    color: #111827;
    word-break: break-all;
}
